/*   STATES
 **************/



/* General Hover States */

a {
	@include transition(color)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

svg {
	@include transition(transform)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
		transform: scale(1.1);
	}
}



/* Access Navigation Toggle Button */

.access__toggle {

	span,
	span:before,
	span:after {
		background-color: $dark-grey;
		transform-origin: center;
		transition: transform .6s ease-out,
					background-color .6s ease-out;
	}

	span:before {
		top: 10px;
	}

	span:after {
		top: -10px;
	}

}

.is-toggle-active {

	span {
		background:none;
	}

	span:before,
	span:after {
		top: 0;
	}

	span:before {
		transform: rotate(45deg);
	}

	span:after {
		transform: rotate(-45deg);
	}

}



/* Project Transitions */

.project {
	&__overlay {
		transform: translateX(100%);
		@include transition(transform)
	}

	&:hover &__overlay {
		transform: translateX(0);
	}

	&__description {
		transform: translateX(100%);
		@include transition(transform)
	}
}

.is-project-active {

	&:hover .project__overlay,
	.project__overlay {
		transform: translateX(-100%);
	}

	.project__description {
		transform: translateX(0);
	}
	
}





