/*      HEADER 
 ********************/


/* Header and Navigation Styles */

.main-header {
	border-left: 8px solid $green;
	display: flex;
	flex-direction: column;
	width: 20vw;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	padding: 2em;
}

.navigation__list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 1em;

	li {
		list-style: none;
		padding: .5em 0;
	}
}


/* Access Navigation Toggle Button */

.access__toggle {	
	background: none;	
	height: 30px;
	margin-right: .5em;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	z-index: 999;
	
	span,
	span:before,
	span:after {
		width: 100%;
		height: 2px;
		right: 0;
		position: absolute;
	}

	span:before,
	span:after {
		content: '';
	}

}

@media (min-width: $m) {
	
	.access__toggle {
		display: none;
	}
	
}