/*   MAIN 
 ************/

body {
	display: flex;
	background-color: $cream;
}

.main-header {
	border-left: 8px solid $green;
	display: flex;
	flex-direction: column;
	width: 20vw;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	padding: 2em;
}

.navigation__list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 1em;

	li {
		list-style: none;
		padding: .5em 0;
	}
}

main {
	width: 80vw;
	margin-left: 20vw;

}

.section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header {
		min-height: 100vh;
		display: flex;
		align-items: center;
	}

	h2 {
		display: block;
		background-color: $green;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		position: relative;
		padding: 1em 3em;

		&:before {
			content: "1";
			font-family: $header-font;
			font-size: ms(4);
			font-weight: 600;
			position: absolute;
			left: -12%;
    	top: 25%;
		}
	}

	&__paragraph {
		font-family: $header-font;
		font-size: ms(2);
		font-weight: 600;
		max-width: 850px;
		margin: .5em 1em;

		&:before {
			content: '';
	    width: 100%;
	    /* margin-left: 10%; */
	    display: block;
	    height: 5px;
	    background-color: #000;
		}
	}
	
}

.section-1 {
	
	h2 {
		background-color: $green;

		&:before {
			content: '1';
		}
	}
	
}

.section-2 {
	
	h2 {
		background-color: $light-pink;

		&:before {
			content: '2';
		}
	}
	
}

.section-3 {

	h2 {
		background-color: $coral;

		&:before {
			content: '3';
		}
	}
	
}



.about-image {
	width: 35%;
	margin: 1.5em auto;
}



